<% content_for :title, "listing notes" %>


<% @notes.each do |note| %>
  <ul>
    <li>Name - <%= note.name %></li>
    <li>Details - <%= note.details %></li>
    <li><%= link_to 'Show', note %></li>
    <li><%= link_to 'Edit', edit_note_path(note) %></li>
    <li><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<% end %>


