<% content_for :title, "#{params[:category].titleize if !params[:category].blank? } Tasks" %>

<% unless @showing_all_tasks %>
    <div class="add-new-task">
        <%= link_to 'Add New Task', new_user_task_path(:user_id => @current_user.id, :category => @current) %>
    </div>
<% end %>

<% if @tasks == [] %>
    <div class="task-block">
        <ul>
            <li>There are no <%= params[:category] %> tasks</li>
        </ul>
    </div>
<% end %>

<% @tasks.each do |task| %>
    <div class="task-block">
        <ul>
            <li><%= task.name %> (<%= task.category %>) <%= link_to 'Edit', edit_task_path(task), :class => "modify" %> : <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "modify" %> : : 
            <%= link_to 'Add Note', new_task_note_path(task), :class => "modify" %> 
                <% if task.notes.present? %>
                 : <%= link_to 'View Notes', task_path(task), :class => "modify" %>
                <% end %>
            </li>
            <% if task.description.present? %>
                <li><%= task.description %></li>
            <% end %>
            
        </ul>   
    </div>

<% end %>




