<% content_for :title, "Listing Tasks" %>

<% unless (params[:complete].to_s == 'true') || (params[:previous].to_s == 'true') %>
    <div class="add_new_task">
        <%= link_to 'Add New Task', new_user_task_path(@current_user) %>
    </div>
<% end %>

<% @tasks.each do |task| %>
    <div class="task_block">
        <ul>
            <li><%= task.name %>, <%= task.category %></li>
            <li><%= task.description %></li>
            <li><%= link_to 'Show', task %> | <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>   
    </div>
<% end %>
<br>


