<% content_for :title, "Show Task" %>

<div class="task_block">
    <ul>
      <li><%= @task.name %>, <%= @task.category %></li>
      <li><%= @task.description %></li>
      <li><%= link_to 'Edit', edit_task_path(@task) %> | <%= link_to 'Back', user_tasks_path(@task) %> | <%= link_to 'New Note', new_task_note_path(@task) %></li>
  </ul>
</div>


<% if @notes.present? %>
<div class="notes_header">
    <ul>
    <li>Notes,</li>
  </ul>
</div>

  <% @notes.each do |note| %>
    <div class="notes_block">
      <ul>
        <li><%= note.name %>, <%= note.details %></li>
        <li><%= link_to 'Edit', edit_note_path(note) %> | <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  <% end %>
<% end %>

