<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @task.complete %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', user_tasks_path(@task.user) %> |
<%= link_to 'New Note', new_task_note_path(@task) %>

    <% @notes.each do |note| %>
      <ul>
        <li>Name - <%= note.name %></li>
        <li>Details - <%= note.details %></li>
        <li><%= link_to 'Edit', edit_note_path(note) %></li>
        <li><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>

