<!DOCTYPE html>
<html>
<head>
  <title>Threethrees</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <header>
            <%= render :partial => "shared/header" %>
        </header>

        <% if logged_in? %>
            <div class="menu" class="clearfix">
                <ul>
                    <li><%= link_to "All Current Tasks", user_tasks_path(@current_user) %></li>
                    <li><%= link_to "Daily Tasks", user_tasks_path(:user_id => @current_user.id, :category => "daily") %></li>
                    <li><%= link_to "Weekly Tasks", user_tasks_path(:user_id => @current_user.id, :category => "weekly") %></li>
                    <li><%= link_to "Yearly Tasks", user_tasks_path(:user_id => @current_user.id, :category => "yearly") %></li>
                    <li><%= link_to "Completed Tasks", user_tasks_path(:user_id => @current_user.id, :complete => "true") %></li>
                    <li><%= link_to "Previous Tasks", user_tasks_path(:user_id => @current_user.id, :previous => "true") %></li>
                    <li><%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
                </ul>
            </div><!-- menu -->
        <% end %>

        <div class="content" class="clearfix">
            <%= yield %>
        </div><!-- content -->

        <% if logged_in? %>
            <footer>
                <ul>
                    <li><%= link_to "about us", "/pages/about_us" %></li>
                    <li><%= link_to "contact us", "/pages/contact_us" %></li>
                    <li><%= link_to "references", "/pages/references" %></li>
                </ul>
            </footer>
        <% end %>

    </div><!-- container -->

</body>
</html>
